:root {
    --font-family: "Geologica", sans-serif;
    --app-font-size: 100%;

    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-text: #1f2a3d;
    --color-muted: #45556c;
    --color-line: #e2e8f0;

    --color-brand-primary: #1d4ed8;
    --color-brand-success: #16a34a;
    --color-brand-dark: #0f172b;
    --color-brand-muted: #90a1b9;
}
